:root{
    --main-font: "IBM Plex Sans", sans-serif ;
}
*{
    margin: 0;
    padding: 0;
}

.navigation{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    font-family: var(--main-font);
    color: #14203E;
    padding: 25px 0;
    margin-left: 45px;
}
.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}
.li{
    padding: 15px 10px;
}
.btn{
    border: none;
    padding: 13px 30px;
    border-radius: 10px;
    font-family: var(--main-font);
}
.btn1{
    background-color: #F6F0E8;
    color: #000000;
}
.btn2{
    background-color: #14203E;
    color: #ffffff;
}
.buttons{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-right: 45px;
}
.main-window{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #FFFCF8;
}
.title{
    margin-top: 129px;
    font-family: var(--main-font);
    font-size: 66px;
    font-weight: 700;
    width: 600px;
}
.title2{
    width: 600px;
    font-family: var(--main-font);
    font-size: 22px;
}
.btn3{
    background-color: #14203E;
    color: #FFFFFF;
    width: 192px;
    height: 73px;
    margin-top: 40px;
    margin-bottom: 80px;
}
footer{
    background-color: #FFF;
    display: flex;
    justify-content: center;
}
.footer-title{
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    color: #14203E;
    display: inline;
    display: flex;

    
    
}
.line{

    display: inline-flex;
    height: 1px;
    width: 100px;
    background-color: #c0c0c0;
}
.footer-title-wrapper{
    display: flex;
    margin-bottom: 20px;
    margin-left: 420px;
    align-items: center;
}
.window-wrapper{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.windw{
    width: 231px;
}
.window-wrapper p{
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 700;
}
.window-wrapper small{
    font-family: var(--main-font);
}